<nav class="checkout-breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumb breadcrumb--center" role="list">
    <li class="breadcrumb__item breadcrumb__item--completed">
      <span class="checkout_cart_breadcrumb breadcrumb__link">Cart</span>
      <svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"></use> </svg>
    </li>
    <li class="breadcrumb__item breadcrumb__item--current" aria-current="step">
      <span class="breadcrumb__text">Information</span>
      <svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"></use> </svg>
    </li>
    <li class="breadcrumb__item breadcrumb__item--blank">
      <span class="breadcrumb__text">Shipping</span>
      <svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"></use> </svg>
    </li>
    <li class="breadcrumb__item breadcrumb__item--blank">
      <span class="breadcrumb__text">Payment</span>
    </li>
  </ol>
</nav>
