<style type="text/css">
  
  .template-404 {
    height: calc(100vh - 171px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  .title-404{
  	text-align: center;
  }
  
  .btn {
    font-family: Hero;
    font-size: 20px;
    margin-top: 16px!important;
    background-color: var(--dd-color-first);
    border: 0;
    color: var(--dd-color-sixth);
    padding: 15px 32px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    transition: .4s ease;
    line-height: 24px;
    text-align: center;
}

.btn.bestsellers-btn {
    display: block;
    text-align: center;
    max-width: 388px;
    margin: 0 auto;
}

.btn:hover {
    background-color: var(--dd-color-second);
    color: var(--dd-color-first);
}
  
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title title-404">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button btn bestsellers-btn">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
