$( document ).ready(function() {
  var text = `By placing this order, you agree to our <a aria-haspopup="dialog" data-modal="policy-terms-of-service" data-title-text="Terms of Service" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/terms-of-service.html?`+Shopify.locale+`-`+Shopify.country+`">Terms of Service</a> and understand our <a aria-haspopup="dialog" data-modal="policy-privacy-policy" data-title-text="Privacy Policy" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/privacy-policy.html?`+Shopify.locale+`-`+Shopify.country+`">Privacy Policy</a>.`;
  if(Shopify.Checkout.locale == 'de') {
  $('.step__footer').after(`<br>
		<div class="checkout__legal-wrapper">
          <div class="checkout__legal-text">
            Indem Sie diese Bestellung aufgeben, stimmen Sie unseren <a aria-haspopup="dialog" data-modal="policy-terms-of-service" data-title-text="Terms of Service" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/terms-of-service.html?`+Shopify.locale+`-`+Shopify.country+`">Nutzungsbedingungen zu </a> und verstehen unsere <a aria-haspopup="dialog" data-modal="policy-privacy-policy" data-title-text="Privacy Policy" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/privacy-policy.html?`+Shopify.locale+`-`+Shopify.country+`">Datenschutzrichtlinie</a>.
          </div>
        </div>
  `);
  } else {
    $('.step__footer').after(`<br>
          <div class="checkout__legal-wrapper">
            <div class="checkout__legal-text">
              `+text+`
            </div>
          </div>
    `);
  }
  
});