.font-custm {
    
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
    font-weight: 500;
    font-family: "PhosphateInline";
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.new-st{

    font-size: 16px;
    line-height: 40px;
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
  }
.img-w-txt-image-wrap{
    position: relative;
}
.svgg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(163%,-239%);
    width:100px;
}
.hide-svg{
    display: none;
}

.border-css {
    box-shadow: #fff 0 0 0 3px, #473854 0 0 0 6px, #78a9ad 0 0 0 9px, #58714d 0 0 0 12px, #e5d68e 0 0 0 15px, #f16b46 0 0 0 17px, #93302c 0 0 0 20px;
    border-radius:0 5px 5px 0;
    padding: 50px;
}
.border-padding{
align-items: initial;
}

.img-w-txt-text-wrap.custom-width {
    display: flex;
    padding: 20px;
    width: 50%;
}
.img-w-txt-image-wrap.width-cst {
    width: 50%;
}
@media screen and (max-width: 1024px) {
    .svgg {
        transform: translate(122%,-257%);
    }
}

@media screen and (max-width: 992px) {
    .img-w-txt-image-wrap.width-cst {
        width: 100%;
        margin-bottom: 0px;
    }
    .img-w-txt-text-wrap.custom-width {
        width: 100%;
    }
    .newimg-w-txt-title.title.no-d.font-custm.custom-title{
        
          
            margin-bottom: 24px;
            font-family: PhosphateInline;
            font-size: 24px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: 500;
     
    }
}

@media screen and (max-width: 900px) {
    .svgg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(236%,-307%);
    }
}

@media screen and (max-width: 780px) {
    .svgg {
        
        transform: translate(203%,-307%);
    }
    .img-w-txt-text-wrap.border-css {
        width: 96%;
        margin-left: 10px;
        padding:30px;
    }
    .border-css {
        border-radius: 0 0 5px 5px;
    }
}
@media screen and (max-width: 500px) {
    .svgg {
        transform: translate(110%,-197%);
        width: 78px;
    }
    .border-css{
    padding: 0px; 
    }
    .img-w-txt-text-wrap.border-css {
        width: 91%;
        margin-left: 16px;
        padding:0px;
    }
  }
  @media screen and (max-width: 400px) {
    .svgg {
        transform: translate(93%,-197%);
        width: 78px;
    }
}
@media screen and (max-width: 340px) {
    .svgg {
        transform: translate(59%,-167%);
        width: 78px;
    }
}