.hero-txt-container {
    background-color: var(--dd-color-sixth);
    padding: 40px;
    width: 50%;
      height: fit-content;
    height: -moz-fit-content;
}

.jp-b2b-hero-wrap .hero .flex-box.container{
	align-items: center;
}

.b2b-hero-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}

.jp-b2b-hero-wrap .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.b2b-hero-btn {
    width: 100%;
    display: block;
    background-color: var(--dd-color-second);
    color: var(--dd-color-first);
    text-transform: uppercase;
}

.b2b-hero-btn:hover{
	background-color: var(--dd-color-first);
    color: var(--dd-color-sixth);
}

.jp-b2b-hero-wrap {
    height: 66.66666667vw;
    max-height: calc(100vh - 150px);
  margin-bottom: 73px;
}

.jp-b2b-hero-wrap .hero {
    height: calc(100% - 188px);
}

@media(max-width: 992px){
	.jp-b2b-hero-wrap {
    height: 100vh;
}
  
  .hero-txt-container {
    width: 100%;
}
}