.b2b-contact-inner {
    display: flex;
}

.b2b-contact-left {
    width: 41%;
    margin-top: 160px;
}

.b2b-contact-right {
    width: 50%;
    padding: 40px 50px;
    background-color: var(--dd-color-fourth);
}

.b2b-contact-wrapper{
	margin: 40px 0;
}