.header-left {
    display: flex;
}

.hamburger-menu {
    margin-right: 40px;
  cursor: pointer;
}

.desktop-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn.b2b-header-right-btn {
    padding: 16px 24px;
    background-color: var(--dd-color-second);
    color: var(--dd-color-first);
}

.btn.b2b-header-right-btn:hover{
	background-color: var(--dd-color-first);
      color: var(--dd-color-sixth);
}

.drawer-menu-header{
	padding: 32px 0 28px;
  border-bottom: 1px solid;
}

.drawer-menu-b2b {
    width: 610px;
    background-color: #fff;
    z-index: 10;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -610px;
  transition: .4s ease;
}

.drawer-menu-b2b.drawn{
	left: 0;
}

.drawer-menu-close-btn {
    position: absolute;
    left: 40px;
    cursor: pointer;
}

.drawer-menu-title {
    text-align: center;
}

.header-drawer-link {
    display: block;
    margin-bottom: 40px;
    width: fit-content;
    width: -moz-fit-content;
}

.drawer-menu-content {
    padding: 80px;
}

.header-drawer-link.btn.b2b-header-right-btn {
    width: 100%;
    margin-top: 0 !important;
}

.jp-header-wrapper.jp-b2b-header-wrapper{
	height: 126.8px;
  min-height: 126.8px;
}

.jp-b2b-header-wrapper .header-content {
    padding: 24px 0 16px;
}