body.no-scroll {
	overflow: hidden;
}
.drawer-cross-sell-cart {
    display: block;
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    max-width: 611px;
    background-color: var(--dd-color-sixth);
    top: 0;
    right: -611px;
    padding: 0;
    transition: .4s ease;
}
.drawer-cross-sell-cart.drawn {
    right: 0;
    box-shadow: -6px 3px 16px #C5AF8833;
}
.background-drawer-cross-sell.drawn {
    z-index: 8;
    opacity: 1;
    right: 0;
}
.background-drawer-cross-sell {
    width: 100vw;
    position: fixed;
    height: 100%;
    background-color: #00000040;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    transition: .4s ease;
    opacity: 0;
  	cursor: pointer;
}
.drawer-cross-sell-header {
    padding: 32px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dd-color-second);
}
.close-cross-sell-cart {
    cursor: pointer;
    position: absolute;
}
.close-cross-sell-cart svg {
    transform: rotate(180deg);
}
.cross-sell-body {
    max-width: none;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 12vh;
}
/* width */
.cross-sell-body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.cross-sell-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
.cross-sell-body::-webkit-scrollbar-thumb {
  background: var(--dd-color-second);
  border-radius: 6px;
}

/* Handle on hover */
.cross-sell-body::-webkit-scrollbar-thumb:hover {
  background: var(--dd-color-second); 
}

.cross-sell-product {
	display: flex;
  	align-items: flex-start;
  	width: 100%;
  	max-width: 451px;
  	margin: 0 auto 16px;
  	padding: 16px;
  	background-color: var(--dd-color-fourth);
}
.cross-sell-product:first-child {
	margin-top: 40px;
}
.cross-sell-product-img {
	display: block;
  	width: 40%;
  	max-width: 160px;
  	position: relative;
}
.cross-sell-product-img a {
	display: block;
}
.cross-sell-product-img img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    display: block;
}
.cross-sell-details {
  	display: block;
  	width: calc(100% - 176px);
	margin-left: 16px;
}
.cross-sell-product-title, .cross-sell-product-title a, .cross-sell-product-price {
  	display: block;
	font-size: 16px;
  	line-height: 32px;
  	font-family: 'Work Sans',sans-serif;
    letter-spacing: 1.28px;
    color: #333333;
    text-transform: uppercase;
}
.cross-sell-accordion {
	cursor: pointer;
}
.cross-sell-moreinfo {
	display: flex;
  	align-items: center;
	font-size: 14px;
  	line-height: 20px;
  	font-family: 'Work Sans',sans-serif;
    letter-spacing: 0;
    color: #333333;
  	font-weight: 300;
  	padding: 8px 0;
}
.cross-sell-icon {
	margin-left: 4px;
  	transition: all 0.4s ease;
}
.cross-sell-moreinfo.active .cross-sell-icon {
	transform: rotate(135deg);
}
.cross-sell-infopanel {
	font-size: 14px;
  	line-height: 20px;
  	font-family: 'Work Sans',sans-serif;
    letter-spacing: 0;
    color: #333333;
  	font-weight: 300;
  	padding-bottom: 16px;
}
.cross-sell-add-product {
	display: block;
  	width: fit-content;
  	background-color: #333333;
  	color: #ffffff;
  	border: 1px solid #333333;
  	padding: 12px;
  	text-align: center;
  	font-size: 11px;
  	line-height: 24px;
  	font-weight: 500;
    font-family: 'Work Sans',sans-serif;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  	cursor: pointer;
}
.cross-sell-add-product.added-product {
	background-color: #C5AF88;
  	color: #333333;
}

@media (max-width: 992px) {
    .drawer-cross-sell-header {
      padding: 32px 20px;
    }
}

@media (max-width: 560px) {
    .cross-sell-body {
      padding-bottom: 15vh;
    }
    .cross-sell-product:first-child {
      margin-top: 20px;
    }
    .cross-sell-product {
      margin: 0 auto 10px;
    }
    .cross-sell-product-img {
      width: 30%;
      max-width: 80px;
    }
    .cross-sell-product-img img {
      height: 80px;
    }
    .cross-sell-details {
      width: calc(100% - 96px);
    }
}
@media (max-width: 320px) {
  	.no-sm {
      display: none !important;
    }
}