

.faq-wrapper {
    padding: 80px 0;
    background-color: var(--dd-color-third);
    margin-bottom: 120px;
}
.faq-wrapper-blank {
    padding: 80px 0;
    margin-bottom: 120px;
}

.faq-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
}

.faq-wrap {
    border-top: 1px solid var(--dd-color-second);
    width: 49.3%;
    margin: 0 auto 40px;
}

.faq-question-wrap {
    padding: 16px 0 12px;
}

.faq-qa-wrap {
    border-bottom: 1px solid var(--dd-color-second);
}

.down-chev{
	transition: .4s ease;
}

.active .down-chev{
	transform: rotate(180deg);
}

.faq-answer {
    font-size: 16px;
    line-height: 24px;
  padding-bottom: 24px;
}

.faq-link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    transition: .4s ease;
  font-size: 16px;
  line-height: 20px;
}

.faq-link:hover{
	text-decoration: underline;
}


.accordion {
  cursor: pointer;
}


@media(max-width: 992px){
  .faq-wrap {
    width: 100%;
    margin-bottom: 20px;
}
  
  .faq-title.title.text-center {
    margin-bottom: 20px;
}
  
  .faq-link{
  	text-decoration: underline;
  }
  
  .faq-wrapper {
    margin-bottom: 80px;
}
  .faq-wrapper-blank {
    margin-bottom: 80px;
}
}
