.page {
  max-width: 590px;
  margin: 128px auto;
}
h1.page-title {
  font-size: 32px;
  font-family: 'Hero';
  font-weight: 400;
  text-align: center;
}
.page-content {
  text-align: center;
  font-weight: 300;
  color: var(--dd-color-first);
  letter-spacing: 0;
  line-height: 24px;
}
.page table{
  width: 100% !important;
    overflow: auto;
    display: inline-block;
}

.page table td {
    padding-right: 15px;
}

/* width */
.page table::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.page table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
.page table::-webkit-scrollbar-thumb {
  background: var(--dd-color-second); 
}

/* Handle on hover */
.page table::-webkit-scrollbar-thumb:hover {
  background: var(--dd-color-second); 
}
.page-content h3,.page-content h4 {
    font-weight: 300;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.page-content strong {
    font-weight: 500;
}
@media(max-width: 992px) {
  .page {
    max-width: 590px;
    margin: 28px auto;
    padding: 0 20px;
  }
  h1.page-title {
  	word-break: break-word;
  }
}