.jp_sizechart {
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  max-width: 1600px;
  text-align: center;
  outline: 1px solid orange;
}
.size_chart_container {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0px 15px;
}
.image_wrap {
  display: flex;
  margin: auto;
}
.left-rtc-1 span {
  margin-bottom: 6px;
  line-height: 24px;
}
.left-rtc-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 186px;
  height: 186px;
  align-items: center;
  justify-content: space-between;
}
.image_wrap img {
  width: 100%;
  object-fit: contain;
  max-width: 140px;
  margin: 0 auto;
  height: 100%;
  max-height: 130px;
  display: flex;
}
.right-cell {
  border-top: 0.5px solid #aa8e62;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
}
.right-cell-fr {
  border-top: 0.5px solid #aa8e62;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding-left: 8px;
}

.right-cell img {
  height: 16px;
  width: 20px;
  object-fit: contain;
}
.col-wrapper {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}
.col-wrapper.slider-fr:not(.col-wrapper.slider-fr.slick-initialized) {
  display: flex;
  overflow: hidden;
}
.col-wrapper.slider-be:not(.col-wrapper.slider-be.slick-initialized) {
  display: flex;
  overflow: hidden;
}

.col-wrapper .col-1 {
  width: 186px;
}
.fixed-element {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.left-col-2,
.left-col-1 {
  display: flex;
  flex-direction: column;
}
.left-col-1 div:not(:first-child),
.left-col-2 div:not(:first-child),
.left-col-3 div:not(:first-child) {
  border-top: 0.5px solid #aa8e62;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
}
.left-col-1 div.row_1,
.left-col-2 div.row_1,
.left-col-3 div.row_1 {
  margin-bottom: 5px;
  line-height: 24px;
}
.left-col-1 div,
.left-col-2 div,
.left-col-3 div {
  padding: 0 8px;
}
/* .left-col-2 div:not(.row_1),
  .right-table .slick-track div.col-1:nth-child(2n + 1) {
    background-color: #f9f7f3;
  } */
/* .left-col-1 {
      min-width: 150px;
    } */
.left-col-2,
.left-col-3 {
  min-width: 6px;
}
.left-col-2 .row_common,
.left-col-3 .row_common {
  height: 32px;
}

.row_1,
.left-rtc-1 {
  font-size: 16px;
  font-weight: 500;
}
.jp_table_wrapper {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  color: #333333;
  font-weight: 300;
  font-size: 16px;
  font-family: "Work Sans";
}
.jp_table_wrapper .left-table .fixed-element > div,
.jp_table_wrapper .right-table .col-1 {
  border-bottom: 0.5px solid #aa8e62;
}
.jp_table_wrapper .slick-track,
  .jp_table_wrapper .left-table {
    padding: 1px 0px;
  }
.jp_table_wrapper .slick-dots {
  position: absolute;
  bottom: 100px;
}
.jp_table_wrapper .slick-dots {
  position: absolute;
  display: flex;
  bottom: -100px;
  font-size: 0;
  gap: 30px;
}
/* .left-table {
      width: 25%;
    } */
.right-table {
  width: 75%;
}
.slick-slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 34px 0;
}
.slick-slider-dots ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slick-slider-dots ul li {
  margin: 0 5px;
}
.slick-slider-dots ul li button {
  cursor: pointer;
  border-radius: 50%;
  width: 100%;
  color: transparent;
  height: 100%;
  padding: 0px;
  margin: 0;
  background: transparent;
  font-size: 0px;
  border: 1px solid #333;
}
.slick-slider-dots ul li.slick-active button {
  opacity: 1;
  background-color: #333333;
}
.slider_arrow_dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.slick-slider-dots ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8px;
  width: 8px;
}
.slider_prev_arrow,
.slider_next_arrow {
  cursor: pointer;
}
span.slider_prev_arrow.prev.slick-arrow svg {
  transform: rotate(90deg);
}

span.slider_next_arrow.next.slick-arrow svg {
  transform: rotate(270deg);
}

span.slick-arrow svg {
  height: 10px;
  width: 10px;
}
.h2_hero_heading {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0px;
  font-weight: normal;
  margin: 0px 0px 40px 0px;
  color: #333333;
}
.jp_size_chart_bottom_txt {
  position: absolute;
  right: 122px;
  bottom: 76px;
  font-weight: 300;
}
.left-col-3 .row_common {
  font-size: 12px;
  line-height: 20px;
}
.slick-slider-dots .slick-dotted.slick-slider {
  margin: 0px;
}

.slick-slider-dots .slick-dots {
  position: inherit;
  height: auto;
}

.slick-slider-dots .slick-dots li.slick-active,
.slick-slider-dots .slick-dots li.slick-active button {
  width: 8px !important;
}
svg.jp_sizechart_placeholder {
  min-height: 128px;
  fill: #aa8e62;
  position: relative;
  border: 1px solid #aa8e62;
}

@media screen and (max-width: 1300px) {
  .right-table {
    width: 65%;
  }
}
@media screen and (max-width: 989px) {
  .right-table {
    width: 85%;
  }
  .col-wrapper .col-1 {
    width: 170px;
  }
  .left-rtc-1 {
    width: 170px;
    height: 170px;
  }
  .jp_table_wrapper {
    justify-content: unset;
    overflow: hidden;
    margin: 0px 20px;
  }
  .left-col-1 div,
  .left-col-2 div,
  .left-col-3 div {
    padding: 0px 2px;
  }
  .fixed-element {
    align-items: end;
    /* margin-left: 20px; */
  }
  .jp_table_wrapper .left-table .fixed-element > div.left-col-1 {
    font-size: 12px;
    border-bottom: 0;
  }
  .jp_table_wrapper .left-table .fixed-element > div.left-col-1 .row_1 {
    visibility: hidden;
  }
  .jp_table_wrapper .left-table .fixed-element > div.left-col-1 > div {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    word-break: break-word;
    transform: rotate(180deg);
    line-height: 14px;
  }
  .left-col-1 {
    width: 32px;
  }
  .left-col-2 {
    min-width: 58px;
  }
  .left-col-2-fr {
    min-width: 44px;
  }
  .left-col-3 {
    min-width: 68px;
  }
}

@media screen and (max-width: 767px) {
  .left-col-2 .row_1,
  .left-col-3 .row_1 {
    font-size: 12px;
  }
  .slick-slider-dots {
    padding: 40px 0;
  }
  .h2_hero_heading {
    font-size: 20px;
    line-height: 24px;
    margin: 0px 20px 16px 20px;
  }
  .jp_size_chart_bottom_txt {
    right: 22px;
    bottom: 87px;
  }
}

@media screen and (max-width: 420px) {
}
