.jp-team-sliderr.slick-slider.slick-dotted {
    margin-bottom: 48px;
}

/* .jp-prouduct-slider-wrap .team-card {
    width: 98% !important;
    margin: 0 8px;
} */

.member-img {
    height: 270px;
    margin-bottom: 12px;
}

.member-img img{
	width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.member-name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.member-department {
    font-size: 14px;
    line-height: 20px;
}

.jp-team-slider-wrap .product-slider-first {
    min-width: 300px;
}

.jp-prouduct-slider-wrap.jp-team-slider-wrap .slick-dots {
    bottom: 0;
}

.jp-prouduct-slider-wrap.jp-team-slider-wrap .slick-next, .jp-prouduct-slider-wrap.jp-team-slider-wrap .slick-prev {
    bottom: -30px;
}

.jp-prouduct-slider-wrap.jp-team-slider-wrap .slick-list {
    min-height: unset;
}

.team-slider-wrap{
	display: flex;
    align-items : center;
    justify-content : center;
}

.jp-team-sliderr.abs.no-t-m.jp-product-slider-wrapper {
  display: flex;
  margin-right: 0;
  flex-wrap: wrap;
  width: 78%;
  justify-content: flex-start;
}

.jp-team-sliderr.abs.no-t-m.jp-product-slider-wrapper .team-card{
  width: 31.6%!important;
  margin: 8px 5px;
}


@media(max-width: 992px){
	.jp-team-slider-wrap .product-slider-first {
      height: auto;
    }
  
    /*   .member-img {
        height: 80vw;
    } */
  
    .jp-prouduct-slider-wrap .team-card {
        margin: 12px 5px;
    }
    .jp-team-sliderr {
        display : flex;
        flex-wrap :wrap;
    }
    
    .jp-prouduct-slider-wrap .team-card {
        width: 48%;
        margin: 5px;
    }
}

@media(max-width: 560px){
  .jp-prouduct-slider-wrap .team-card {
      width: 100%;
  }
}





