/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  bottom: -90px;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 0;
}
.black-box .slick-prev,
.black-box .slick-next {
  border: 2px solid #fff;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  font-size: 20px;
/*   line-height: 1; */
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
  left: 32%;  
  bottom: -38px;
  -webkit-transform: rotate(90deg) translate(0,0);
  -ms-transform: rotate(90deg) translate(0,0);
  transform: rotate(90deg) translate(0,0);
  z-index: 1;
  background: transparent;
}
[dir='rtl'] .slick-prev
{
  right: 42%;
  left: auto;
}
.slick-prev:before
{
  content: url(//cdn.shopify.com/s/files/1/0334/1100/6595/t/25/assets/Pijltje_onder.svg?v=4914117478590472551);
}
.product-info-left .slick-prev:before
{
  content: url(//cdn.shopify.com/s/files/1/0334/1100/6595/t/25/assets/Pijltje_onder.svg?v=4914117478590472551);
}
[dir='rtl'] .slick-prev:before
{
  content: url(//cdn.shopify.com/s/files/1/0334/1100/6595/t/25/assets/Pijltje_onder.svg?v=4914117478590472551);
}

.slick-next
{
  right: 32%;
  bottom: -38px;
  -webkit-transform: rotate(270deg) translate(0,0);
  -ms-transform: rotate(270deg) translate(0,0);
  transform: rotate(270deg) translate(0,0);
  z-index: 1;
  background: transparent;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: 42%;
}

.slick-next:before
{
  content: url(//cdn.shopify.com/s/files/1/0334/1100/6595/t/25/assets/Pijltje_onder.svg?v=4914117478590472551);
}
[dir='rtl'] .slick-next:before
{
  content: url(//cdn.shopify.com/s/files/1/0334/1100/6595/t/25/assets/Pijltje_onder.svg?v=4914117478590472551);
  -webkit-transform: rotate(270deg) translate(85%,50%);
  -ms-transform: rotate(270deg) translate(85%,50%);
  transform: rotate(270deg) translate(85%,50%);
}

.product-info-left .slick-next:before
{
  content: url(//cdn.shopify.com/s/files/1/0334/1100/6595/t/25/assets/Pijltje_onder.svg?v=4914117478590472551);
}

[dir='rtl'] .product-info-left .slick-next:before
{
  content: url(//cdn.shopify.com/s/files/1/0334/1100/6595/t/25/assets/Pijltje_onder.svg?v=4914117478590472551);
  -webkit-transform: rotate(270deg) translate(85%,50%);
  -ms-transform: rotate(270deg) translate(85%,50%);
  transform: rotate(270deg) translate(85%,50%);
}

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
  height: 2px;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 12px;
  height: 12px;
  margin: 0 2px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 8px;
  height: 8px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 2px;

  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 8px;

  content: '';
  text-align: center;

  opacity: 1;
  color: #333;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;  
  transition: all .4s ease;
  border-radius: 50%;
  border: 1px solid;
}
.black-box .slick-dots li button:before {
  background-color: #fff; 
}
.instagram-btns .slick-dots li, .instagram-btns .slick-dots li button, .instagram-btns .slick-dots li button:before {
  width: 50px;
}
.carousel-btns .slick-dots li, .carousel-btns .slick-dots li button, .carousel-btns .slick-dots li button:before {
  width: 33.3333px;
}
.instagram-btns-xs .slick-dots li, .instagram-btns-xs .slick-dots li button, .instagram-btns-xs .slick-dots li button:before {
  width: 15px;
}
.carousel-btns-xs .slick-dots li, .carousel-btns-xs .slick-dots li button, .carousel-btns-xs .slick-dots li button:before {
  width: 6.818182px;
}
.supplies-btns-xs .slick-dots li, .supplies-btns-xs .slick-dots li button, .supplies-btns-xs .slick-dots li button:before {
  width: 33.3333px;
}
.slick-dots li.slick-active
{
  width: 12px !important;
}
.slick-dots li.slick-active button
{
  width: 12px !important;
}
.slick-dots li.slick-active button:before
{
  opacity: 1;
  color: #333;
/*   width: 12px !important; */
  background-color: #333;
}
.slider-for, .slider-for-2 {
  margin-bottom: 30px;
  height: 590px;
  max-width: 589px;
}
.slider-for .slick-track, .slider-for-2 .slick-track {
  display: flex;
  align-items: center;
}
.slider-for img, .slider-for video, .slider-for-2 img, .slider-for-2 video {
  align-self: auto;
  height: auto;
  max-height: 590px;
  max-width: 590px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.slider-for video, .slider-for-2 video {
  clip-path: inset(0px 0px);
}

.slider-nav {
  transition: 0.4s ease;
}
.slider-for, .slider-for-2 {
  transition: 0.4s ease;
}
.keychain-charm-select, .keychain-letter-select {
    transition: 0.4s ease;
  opacity: 0;
}
.keychain-charm-select:not(.slick-initialized), .keychain-letter-select:not(.slick-initialized) {
    display: flex;
}
.keychain-charm-select.slick-initialized, .keychain-letter-select.slick-initialized {
    opacity: 1;
}
.slider-nav:not(.slick-initialized) {
  display: flex;
  opacity: 0;
}
.slider-for:not(.slick-initialized), .slider-for-2:not(.slick-initialized) {
  opacity: 0;
}
.slider-nav .slick-track {
  margin-left: 0;
}
.slider-nav img, .slider-nav video {
  height: 85px;
  margin-bottom: 6px;
  display: block;
  cursor: pointer;
  object-fit: contain;
  width: 100%;
}
.slider-for img, .slider-for-2 img, .slider-for video, .slider-for-2 video {
  opacity: 0;
  transition: .4s ease;
  width: 100%;
}
.slider-for.slick-initialized img, .slider-for-2.slick-initialized img, .slider-for.slick-initialized video, .slider-for-2.slick-initialized video {
    opacity: 1;
}
.slider-nav img {
  opacity: 0;
  transition: .4s ease;
}
.slider-nav.slick-initialized img {
    opacity: 1;
}
.no-transform .slick-track {
  transform: none !important;
}




.slider-nav {
  width: 85px;
  position: relative;
}
.slider-for, .slider-for-2 {
  width: calc( 100% - 101px );
}
.slider-for:not(.slick-initialized), .slider-for-2:not(.slick-initialized) {
  display: flex;
}


.slider-nav button.slick-prev.slick-arrow {
  transform: rotate(180deg) translate(0);
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  background-color: #e8dfcfcc;
}

.slider-nav button.slick-next.slick-arrow {
  transform: rotate(0deg) translate(0);
  width: 100%;
  bottom: 30px;
  left: 0;
  height: 40px;
  background-color: #e8dfcfcc;
}
.slider-nav button.slick-next.slick-arrow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: var(--dd-color-sixth);
    left: 0;
    bottom: -30px;
    }
.slider-nav button.slick-arrow.slick-disabled {
  display: none !important;
}
.slider-for .slick-dots, .slider-for-2 .slick-dots{
  bottom: 0;
}
.related-products-preview .slick-slide img, .keychain-charm-select .slick-slide img, .keychain-letter-select .slick-slide img {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.keychain-charm-select .slick-slide img, .keychain-letter-select .slick-slide img {
  margin: 0 auto;
}
.keychains-wrapper .slick-slide:not(.active) {
  cursor: pointer;
}
.slider-product-hover {
  position: absolute;
  width: calc(100% - 101px);
  right: 0;
  height: 590px;
  display: none;
}
.slider-product-hover img {
  width: 100%;
  max-height: 590px;
  object-fit: contain;
}


@media (max-width: 992px) {	
  .slider-for, .slider-for-2 {
    width: 100%;
    height: calc( 100vw - 40px);
  }
  .slider-for img, .slider-for video, .slider-for-2 img, .slider-for-2 video {   
    height: 100%;
    max-height: calc( 100vw - 40px);
    max-width: calc( 100vw - 40px);
  }
  .slider-product-hover {
    display: none !important;
  }
}

@media (min-width: 992px) {
	.featured-products-wrapper .container, .featured-articles-wrapper .container, .find-perfect-fit-wrapper .container {
    	padding: 0 5px !important;
    }
}
